
<% contentFor('body') %>
<div class="jumbotron">

 <h3> Lista de Fabricantes
 	<a href="/criarfabricante"><button class="btn btn-success pull-right" id="addFabricante">
    	Cadastrar Fabricantes
  	</button></a>
 </h3>
<br>
 <table class="table table-hover">
 	<thead>
 		<th> Nome </th>
 		<th> CNPJ </th>
 		<th> Ações </th>
 	</thead>
 		
 	<tbody>
  	<% for (fabricante of fabricantes){%>

 		<tr>
 			<td><%= fabricante.nome %></td>
 			<td><%= fabricante.cnpj %></td>
 			<td>
 				<a href="/mostrarfabricanteprodutos/<%=fabricante.idfabricante%>" class="btn btn-info">
    				Produtos
  				</a>

 				<a href="/editarfabricante/<%=fabricante.idfabricante%>" class="btn btn-primary">
    				Editar
  				</a>
 				<% if (fabricante.ativo == 1) {%> 
	 				<a href="/ativarfabricante/0/<%=fabricante.idfabricante%>" class="btn btn-danger">
	    				Desativar
	  				</a>
	  			<%} else{ %>
	  				<a href="/ativarfabricante/1/<%=fabricante.idfabricante%>" class="btn btn-success">
	    				Ativar
	  				</a>
	  			<%}%>	
 			</td>
 		</tr>
 	<%}%>
 	</tbody>
</table>

</div>

<div id="infoModal" class="modal fade" role="dialog">
	<div class="modal-dialog" style="background: white">
		
	</div>
</div>
 
 <script type="text/javascript">
 	$(document).ready(function(){

 		$('#addFabricante').click(function(e){
 			$.ajax({
 				url: "/criarfabricante",
 				async: false,
 				success: function(data){
 					$('.modal-dialog').html(data);
 				}
 			});
 		});
 	});
 </script>
	 
